header 
    title My magic app
   
body
    ul 
      li 
        a(href="/update-analytics") Update analytics

      li 
        a(href="/algo-machine") Algo machine

      li 
        a(href="/trade-advisor") Trade advisor 

    block content 

    