header 
    title My magic app
   
body
    h1 Push the button
    p 
        button#old-analytic-btn Old Analytic Button
    p
        button#analytic-btn Analytic Button
    p 
        button#download-hystorycal-data Download hystorycal data

    script(src='https://unpkg.com/axios/dist/axios.min.js') 
    script(src='../assets/main.js')