header 
    title My magic app
   
body
  h1 Code 
  
  p#code

  p Go back to App tab and update analytic one more time

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='../assets/refresh_token.js')